**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/packages
**/*.user
**/*.suo
**/.DS_Store
**/node_modules
**/.angular
**/.next
**/dist
**/build
**/.env
**/.env.local
**/*.log
**/coverage
**/.nyc_output
